* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-style: normal;
    font-weight: 400;
}

body:after {
    content: url("../img/bg-picture.svg");
    position: fixed;
    top: 150px;
    left: 50%;
    z-index: -1;
}

a {
    color: #000000;
    text-decoration: none;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Header*/

.header {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.aside-wrapper {
    width: 100%;
    max-width: 385px;
}

.lang-menu {
    font-family: 'Tourney', cursive;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.088rem;
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    display: inline-block;
}

.header__nav-link, .header__nav-item:first-child:after {
    font-family: 'Staatliches', cursive;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.066rem;
}

.header__nav-item:first-child:after {
    content: '/';
    margin: 0 10px;
}

.logo {
    margin: auto 0;
}

/*Main*/

.main {
    display: grid;
    grid-template: auto / 1fr 2fr;
    gap: 30px;
    margin: 70px auto;
}

.main__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.main__nav-item {
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
}

.main__nav-link, .main__chapter-title {
    font-family: 'Francois One', sans-serif;
    font-size: 3.6rem;
    line-height: 4.8rem;
    letter-spacing: 0.144rem;
    text-transform: uppercase;
}

.main__chapter-title {
    margin-top: 20px;
}

.main__chapter-title:before {
    content: '';
    width: 100px;
    height: 8px;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.main__chapter-number {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.144rem;
    vertical-align: text-top;
    margin-left: 10px;
}

.main__text {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-right: 10px;
}

.main__text-chapter {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    gap: 40px;
    position: relative;
}

.main__chapter-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.8rem;
    line-height: 4.8rem;
}

.text_underline {
    text-decoration: underline;
}

.text_italic {
    font-style: italic;
}

.text_bold {
    font-weight: 700;
}

.text_code {
    background: #DADADA;
}

.text_new-line {
    display: inline-block;
}